.header {
    background-color: white;
    color: black;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

 
}

.header-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.left-div {
    display: flex;
    align-items: center;
}
.left-div >img{
    height: 50px;
    width: 150px;
    margin-left: 10px;
    
}

.middle-div {
    display: flex;
    justify-content: space-between;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.box-blue {
    background-color: #2981e7;
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    width: 120px;
    margin-right: 10px;
    padding: 5px 5px;
}

.box span {
    font-size: 14px;
}

.icon {
    margin-right: 10px;
    height: 14px;
    width: 20px;
}

.right-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}

.right-div img {
    height: 34px;
    border-radius: 30%;
    
}

.name {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.bold {
    font-weight: bold;
}

.label {
    font-size: 14px;
    opacity: 0.5;
}

.nav-toggle {
    display: none;
}

@media (max-width: 828px) {
    .header-one {
        display: none;
    }

    .nav-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
        width: 95%;
        padding-right: 40px;
    }

    .left-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-inline: 2-px;
        margin-left: 5%;
    }

    .menu-icon {
        margin-right: 20px;
        margin-left: 10px;
        cursor: pointer;
    }

    .smallScreenRightDiv {
        display: flex;
        align-items: center;
    }

    .dropdown-menu {
        position: absolute;
        top: 50px;
        right: 20px;
        z-index: 1000;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-item {
        display: flex;
        align-items: center;
    }
}
